
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #393E46;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #EEEEEE;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #EEEEEE;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #00ADB5;
  font-weight: normal;
}
p {
  line-height: 2;
}
.footer-link {
  padding: 0 40px;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #222831;
  text-decoration: none;
}
.footer-link:hover {
  color:#EEEEEE;
}

.top-container {
  background-color: #00ADB5;
  padding: 350px 20px 0;
  position: relative;
}

.middle-container {
  background-color: #EEEEEE;
  border-bottom:40px;
  padding-bottom: 50px;
}
.intro {
  width: 30%;
  margin: 40px auto;
}
.bottom-container {
  padding-top: 10px;
  border: 50px;
  background-color: #00ADB5;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 200px;
}

.tab {
  text-align: left;
}
.pp {
  margin-top: 50px;
  width: 200px;
  height: 200px;

}
.livre-logo {
  width: 25%;
  border-radius: 50%;
}
.pallette-logo {
  width: 25%;
  border-radius: 50%;
}
.formation{
  margin: 75px auto;
}
.centre-d-interet{
  margin: 75px auto;
}
.nom {
  margin-bottom: 0
}
.projet {
  padding-bottom: 20px;
}
.btn {
  background: #393E46;
  background-image: -webkit-linear-gradient(top, #393E46, #222831);
  background-image: -moz-linear-gradient(top, #393E46, #222831);
  background-image: -ms-linear-gradient(top, #393E46, #222831);
  background-image: -o-linear-gradient(top, #393E46, #222831);
  background-image: linear-gradient(to bottom, #393E46, #222831);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #EEEEEE;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: -moz-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: -ms-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: -o-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: linear-gradient(to bottom, #00ADB5, #00ADB5);
  text-decoration: none;
}
